server:
    port: 8090
management:
    endpoint:
        health:
            show-details: always
            show-components: always
    health:
        circuitbreakers:
            enabled: true
    endpoints:
        web:
            exposure:
                include: health,metrics

resilience4j:
    circuitbreaker:
        instances:
            UserService:
                registerHealthIndicator: true
                minimumNumberOfCalls: 1
                failureRateThreshold: 50
                slowCallDurationThreshold: 2s
                slowCallRateThreshold: 50
                waitDurationInOpenState: 5s
    retry:
        instances:
            UserService:
                maxRetryAttempts: 5
                waitDuration: 10s
logging:
    level:
        io.github.resilience4j.circuitbreaker: DEBUG
